@import "~bulma/sass/utilities/initial-variables"
@import "pizza-brothers"

// Config vars
$primary: $pbros-red
$primary-invert: $pbros-yellow
$secondary: $pbros-yellow
$secondary-invert: $pbros-yellow-invert
$body-color: #fff
$black: $pbros-black

.navbar .navbar-menu
  box-shadow: none !important

.navbar > .container
  justify-content: center

.navbar-brand .navbar-item > img
  max-height: none

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active
  background-color: #000
  color: #fff

.content .tile
  justify-content: center

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $white-ter !important
$menu-item-hover-background-color: #000
$menu-item-active-color: #000
$menu-item-active-background-color:	$white-ter
$menu-list-border-left: 1px solid $black
$menu-label-color: $white-ter


.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left

@import "~bulma"

@import "pizza-brothers"

// responsiveness
+tablet
  .page-title
    margin-top: 0
  .full-width-image, .main-section
    background-size: cover
+mobile
  .page-title
    margin-top: 0
  .full-width-image, .main-section
    background-size: cover
  .columns
    margin-right: 0
    margin-left: 0
